.benefits {
  padding: 120px 0;
  &__row {
    display: flex;
    column-gap: 70px;
  }
  &__item {
    text-align: center;
    &-img {
      margin-bottom: 53px;
    }
    &-text {
      font-family: $font-secondary;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.35;
    }
  }
}
