.cta {
  padding: 180px 0;
  background: linear-gradient(
      180deg,
      rgba(36, 43, 51, 1) 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      rgba(36, 43, 51, 1) 90.1%
    ),
    linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
    url("/img/cta/cta-bg.jpg") no-repeat center center;

  &__title {
    margin-bottom: 17px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 30px;
  }
}
