.feedback {
  padding-bottom: 180px;
  overflow: hidden;
  &__header {
    margin-bottom: 38px;
    @include mediaTablet {
      margin-bottom: 15px;
    }
  }
  &__privacy {
    display: flex;
    align-items: center;
    @include mediaTablet {
      grid-row: 4/5;
    }
  }
  &__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    @include mediaTablet {
      grid-template-columns: 1fr;
    }
  }
  @include mediaTablet {
    padding-bottom: 60px;
  }
}
